.stepper-container {
  max-width: 650px;
  margin: 50px auto;
}

.stepper-wrapper {
  margin: 5px auto;
  &.bordered {
    border: 1px dashed #a76eef;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.stepper-header {
  display: flex;
  align-items: center;
  gap: 0.1rem;

  font-size: var(--font-size-xs);
  color: #a76eef;
}

.stepper-content {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.stepper-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.skip-button {
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-sm);
  cursor: pointer;
}

.button-right {
  margin-left: 10px;
}

.button-right:nth-of-type(1) {
  margin-left: auto;
}
