h5 {
  color: #000000;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-invoice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.integration-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin-right: auto;

    .learn-more {
      cursor: pointer;
      display: flex;
      gap: 0.25rem;
      font-weight: bold;

      .learn-more-icon {
        width: 18px;
      }
    }
  }

  .button-secondary {
    padding: 0;
    height: 30px;
    width: 80px;
    margin: auto 0;
  }
}

.email-connect-buttons {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    width: 250px;
    gap: 0.25rem;
  }
}
